# This is Git's per-user configuration file.
[user]
# Please adapt and uncoment the following lines:
	name = Alexander Sarmanow
	email = asarmanow@gmail.com
[alias]
	logall = log --graph --all --oneline
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[core]
	autocrlf = false
	safecrlf = false
	excludesFile = /home/sarmanowa/.gitignore
	eol = lf
[pull]
	rebase = true
[init]
	defaultBranch = main
